@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:wght@200&display=swap');



*{
    font-family: 'Source Code Pro', monospace;
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    color: white;
   
}

@tailwind base;
@tailwind components;
@tailwind utilities;
